<form action="/includes/php_scripts/customer_db_lastname_search.php">
  <label for="fname">Please enter the last name of the customer:</label><br>
  <input type="text" name="keyword"><br>
  <input type="submit" value="Submit">
</form>