<form action="/includes/php_scripts/customer_db_add.php">
  <label for="fname">Please enter the last name of the customer:</label><br>
  <input type="text" name="customer_new_lastname"><br>
  
  <label for="fname">Please enter the first name of the customer:</label><br>
  <input type="text" name="customer_new_firstname"><br>
  
  <label for="fname">Please enter the number of total visits of the customer:</label><br>
  <input type="text" name="customer_new_totalvisits"><br>
  
  <label for="fname">Please enter the phone number of the customer:</label><br>
  <input type="text" name="customer_new_phone"><br>
  
  <label for="fname">Please enter the email address of the customer:</label><br>
  <input type="text" name="customer_new_email"><br>
  
  <input type="submit" value="Submit">
</form>