<form action="/includes/php_scripts/employee_db_add.php">
  <label for="fname">Please enter the name of the employee:</label><br>
  <input type="text" name="employee_new_name"><br>
  
  <label for="fname">Please enter the type of the employee:</label><br>
  <input type="text" name="employee_new_type"><br>
  
  <label for="fname">Please enter the username of the employee:</label><br>
  <input type="text" name="employee_new_username"><br>
  
  <label for="fname">Please enter the password of the employee:</label><br>
  <input type="text" name="employee_new_password"><br>
  
  <label for="fname">Please enter the phone number of the employee:</label><br>
  <input type="text" name="employee_new_phone"><br>
  
  <label for="fname">Please enter the email address of the employee:</label><br>
  <input type="text" name="employee_new_email"><br>
  
  <input type="submit" value="Submit">
</form>