<form action="/includes/php_scripts/inventory_db_add.php">
  <label for="fname">Please enter the name of the material:</label><br>
  <input type="text" name="material_new_name"><br>
  
  <label for="fname">Please enter the quantity of the material:</label><br>
  <input type="text" name="material_new_quantity"><br>
  
  <label for="fname">Please enter the alert status of the material:</label><br>
  <input type="text" name="material_new_alertstatus"><br>
  
  <input type="submit" value="Submit">
</form>