<form action="/includes/php_scripts/menu_db_add.php">
  <label for="fname">Please enter the name of the dish:</label><br>
  <input type="text" name="dish_new_name"><br>
  
  <label for="fname">Please enter the style of the dish:</label><br>
  <input type="text" name="dish_new_style"><br>
  
  <label for="fname">Please enter the price of the dish:</label><br>
  <input type="text" name="dish_new_price"><br>
  
  <input type="submit" value="Submit">
</form>