<form action="/includes/php_scripts/menu_db_name_search.php">
  <label for="fname">Please enter the name of the dish:</label><br>
  <input type="text" name="keyword"><br>
  <input type="submit" value="Submit">
</form>