<form action="/includes/php_scripts/order_db_name_search.php">
  <label for="fname">Please enter the ID of the order:</label><br>
  <input type="text" name="keyword"><br>
  <input type="submit" value="Submit">
</form>