<form action="/includes/php_scripts/order_db_add.php">
  <label for="fname">Please enter the time of the order:</label><br>
  <input type="text" name="order_new_time"><br>
  
  <label for="fname">Please enter the estimate of the order:</label><br>
  <input type="text" name="order_new_estimate"><br>
  
  <label for="fname">Please enter the dishes in the order:</label><br>
  <input type="text" name="order_new_dishes"><br>
  
  <input type="submit" value="Submit">
</form>