<form action="/includes/php_scripts/reservation_db_name_search.php">
  <label for="fname">Please enter the reservation ID:</label><br>
  <input type="text" name="keyword"><br>
  <input type="submit" value="Submit">
</form>