<form action="/includes/php_scripts/reservation_db_add.php">
  <label for="fname">Please enter the scheduled time:</label><br>
  <input type="text" name="reservation_new_Time"><br>
  
  <label for="fname">Please enter the first name of the reservation:</label><br>
  <input type="text" name="reservation_new_firstName"><br>
  
  <label for="fname">Please enter the last name of the reservation:</label><br>
  <input type="text" name="reservation_new_lastName"><br>
  
  <label for="fname">Please enter the phone number of the reservation:</label><br>
  <input type="text" name="reservation_new_phoneNum"><br>
  
  <label for="fname">Please enter the email address of the reservation:</label><br>
  <input type="text" name="reservation_new_emailAddr"><br>
  
  <label for="fname">Please enter the number of people coming for the reservation:</label><br>
  <input type="text" name="reservation_new_partySize"><br>
  
  <input type="submit" value="Submit">
</form>