@charset "UTF-8";
html {
    overflow-y: hidden;
}

body {
    margin: 0;
    height: 100%;
}


img {
    vertical-align: middle;
    border: 0
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}


.admin_login {
    width: 390px;
    height: auto;
    overflow: hidden;
    margin: 3% auto 0 auto;
    padding: 20px;
    box-shadow: 0 -15px 30px #0d957a;
    border-radius: 5px;
    text-align: center;
}


.dataStatistic {
    width: 700px;
    height: 400px;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden
}

#cylindrical {
    width: 700px;
    height: 400px;
    margin-top: -15px
}

#line {
    width: 700px;
    height: 400px;
    margin-top: -15px
}

#pie {
    width: 700px;
    height: 400px;
    margin-top: -15px
}

body {
    height: 100%;
    background: #16a085;
    overflow: hidden;
}

canvas {
    z-index: -1;
    position: absolute;
}